In [11]:
import duckdb
import pandas as pd

In [17]:
sql_query = '''
show tables
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                               name
0         bronze_parking_violations
1   bronze_parking_violations_codes
2                       first_model
3               gold_ticket_metrics
4              gold_vehicle_metrics
5           parking_violation_codes
6           parking_violations_2023
7                         ref_model
8          silver_parking_violation
9    silver_parking_violation_codes
10         silver_violation_tickets
11        silver_violation_vehicles

In [19]:
sql_query = """
SELECT * FROM gold_vehicle_metrics limit 5
"""

with duckdb.connect("data/nyc_parking_violations.db") as con:
    display(con.sql(sql_query).df())

  registration_state  TICKET_COUNT
0                 NJ          9258
1                 PA          3514
2                 FL          2414
3                 CT          1787
4                 GA           840

In [5]:
sql_query_import_1 = """
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv',
  normalize_names=True
  )
"""

sql_query_import_2 = """
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
  )
"""

with duckdb.connect("data/nyc_parking_violations.db") as con:
    con.sql(sql_query_import_1)
    con.sql(sql_query_import_2)